* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0edee;
  font-family: "Oswald", sans-serif;
}

/* BEGIN HEADER STYLING */
header {
  background-color: #f0edee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999;
  /* Gives Nav a nice floating look*/
  box-shadow: 0 0px 5px grey;
}

header nav {
  padding: 5px;
}

#logo {
  flex: 1 1 49%;
  margin: 0;
}
#logo img {
  margin-left: 25%;
  padding: 5px;
  max-width: 40%;
}

header nav {
  flex: 1 1 49%;
  margin: 0;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul {
  margin: 2% 25% 2% 0;
  margin-right: 25%;
  padding: 0;
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline;
  flex: 0 0 30%;
  padding: 5%;
}

/* Subtle color change on text when hovered */
nav ul li:hover {
  color: #11beff;
}

nav ul a {
  color: #00adee;
  font-weight: bold;
  font-size: 1.25vw;
  text-decoration: none;
}

nav a:hover {
  color: #00adee;
}
/* END HEADER STYLING */

/* GENERAL PURPOSE STYLINGS */

section {
  display: flex;
  justify-content: center;
  align-items: left;
}

.section-heading {
  flex: 0 0 20%;
  border-right: 5px solid #00adee;
  padding: 5%;
  text-align: right;
}

.section-content {
  flex: 1 1 80%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-content h3 {
  font-size: 24px;
  line-height: 1.8;
}

.section-content p {
  font-size: 16px;
  line-height: 1.4;
}

.social-icons {
  flex: 1 1 40%;
  padding: 0 5%;
  margin: auto;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.social-icons ul {
  flex: 0 0 50%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.social-icons a {
  margin: 0 5%;
  flex: 1 0 10%;
}

.social-icons ul li {
  text-decoration: none;
}

.social-icons img {
  max-width: 50%;
}
/* BEGIN HERO SECTION */

#hero img {
  max-width: 100%;
  height: auto;
}

/* BEGIN PORTFOLIO SECTION */

.hover-overlay:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.showcase-item {
  flex: 0 0 90%;
  padding: 5%;
  position: relative;
}

.portfolio-item {
  margin: auto;
  flex: 0 0 40%;
  padding: 3%;
  position: relative;
}

#showcase-text {
  height: 15%;
}

#showcase-text h4 {
  font-size: 36px;
  line-height: 1.5;
}

#showcase-text p {
  font-size: 18px;
}

.portfolio-item-text {
  margin: 0;
  position: absolute;
  width: 33%;
  height: 20%;
  top: 60%;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.8);
}

.portfolio-item-text h4 {
  text-align: center;
  color: #00adee;
  font-size: 18px;
  height: 50%;
  line-height: 2;
}

.portfolio-item-text p {
  color: #f0edee;
  text-align: center;
  height: 50%;
  line-height: 1;
  font-size: 12px;
}

/* BEGIN CONTACT ME SECTION */

#contact-info {
  flex: 0 0 50%;
}

/* BEGIN FOOTER STYLING */
footer {
  background-color: #00adee;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer p {
  font-size: 10px;
}

#footer-icons {
  flex: 1 0 20%;
  text-align: center;
  margin-left: 13.33%;
}

#copyright {
  flex: 0.5 0 33.33%;
  text-align: center;
}

footer #contact-info {
  flex: 0.5 0 20%;
  text-align: right;
  padding-right: 13.33%;
}

#footer-icons a {
  padding: 0;
  margin: 0 10px;
  flex: 0 0 5%;
}
/* END FOOTER STYLING */
