* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0edee;
  font-family: "Oswald", sans-serif;
}

/* BEGIN HEADER STYLING */
header {
  background-color: #f0edee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

header nav {
  padding: 5px;
}

#logo {
  flex: 1 1 35%;
  margin: 25px 40px;
}
#logo img {
  padding: 5px;
  max-width: 25%;
}

header nav {
  flex: 1 1 50%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header nav ul {
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  display: inline;
  flex: 0 0 33%;
  margin: 0 25px;
}

nav ul li a {
  color: #00adee;
  font-weight: bold;
  font-size: 1.25vw;
  text-decoration: none;
}

nav ul li:hover {
  background-color: black;
}

nav a:hover {
  color: #00adee;
}
/* END HEADER STYLING */

/* GENERAL PURPOSE STYLINGS */

section {
  display: flex;
  justify-content: center;
  align-items: left;
}

.section-heading {
  flex: 0 0 20%;
  border-right: 5px solid #00adee;
  padding: 5%;
  text-align: right;
}

.section-content {
  flex: 1 1 80%;
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-content h3 {
  font-size: 24px;
  line-height: 1.8;
}

.section-content p {
  font-size: 16px;
  line-height: 1.4;
}

.social-icons {
  flex: 1 1 20%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons ul {
  flex: 0 1 40%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-icons a {
  margin: 0 20px;
  flex: 0 0 15%;
}

.social-icons ul li {
  text-decoration: none;
  padding: 5%;
  flex: 33%;
}
/* BEGIN ABOUT ME SECTION */

/* BEGIN PORTFOLIO SECTION */

.hover-overlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
  scale: 110%;
}

.showcase-item {
  flex: 0 0 90%;
  padding: 5%;
}

.portfolio-item {
  flex: 0 0 25%;
  padding: 3%;
}

.portfolio-item-title {
  text-align: center;
  color: #00adee;
  font-size: 18px;
  background-color: black;
}

.portfolio-item-description {
  color: #f0edee;
  text-align: center;
  font-size: 12px;
  background-color: black;
}

/* BEGIN CONTACT ME SECTION */

#contact-info {
  flex: 0 0 100%;
}

/* BEGIN FOOTER STYLING */
footer {
  background-color: #00adee;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

footer p {
  font-size: 10px;
}

#footer-icons {
  flex: 1 0 20%;
  text-align: center;
  margin-left: 13.33%;
}

#copyright {
  flex: 0.5 0 33.33%;
  text-align: center;
}

footer #contact-info {
  flex: 0.5 0 20%;
  text-align: right;
  padding-right: 13.33%;
}

#footer-icons a {
  padding: 0;
  margin: 0 10px;
  flex: 0 0 5%;
}
/* END FOOTER STYLING */
